[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/curlpp"]
	path = 3rdparty/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "3rdparty/semver.c"]
	path = 3rdparty/semver.c
	url = https://github.com/h2non/semver.c.git
[submodule "3rdparty/lvgl-sdl"]
	url = git@github.com:MakeMHz/lvgl-sdl.git
	path = 3rdparty/lvgl-sdl
    branch = xbox-hd-app
